body {
    background-color: black;
       
}

.content {
    max-width: 500px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

h1 {
    color: #F52304;
}

h2 {
    color: rgb(187, 38, 38);
}

h3 {
    color: rgb(153, 14, 14);
}

h4 {
    color: rgb(105, 25, 25);
}

img:hover {
    opacity: 0.5;
  }

#sub {
    background-color: rgb(153, 14, 14);
    color: white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 30px;
  }